<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SoporteTecnicoConexion"
			 connectionString="Data Source=DESKTOP-Q18ETCJ\SQLEXPRESS;Initial Catalog = SoporteTecnico; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>			
	</connectionStrings>
</configuration>